# check that web services are running
define service {
        hostgroup_name                  http-auth-servers
        service_description             HTTP Auth
 	check_command                   check_http!--expect=401
        use                             template-generic-service
	notification_options            u,c,r
	notification_interval           0 ; set > 0 if you want to be renotified
}
