# Define a service to check the load on the local machine. 

define service{
        use                             template-generic-service         ; Name of service template to use
        service_description             Current Load
		check_command                   check_load!5.0!4.0!3.0!10.0!6.0!4.0
        }

